<!doctype html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ if eq .Site.Language.Lang \"ar\" }}rtl{{ else }}ltr{{ end }}">
  <head>
    {{ partial "head.html" . }}
  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>


  <body class="{{ .Kind }} {{ .Type }} {{ .Layout }}">
    {{ partial "header.html" . }}

    <main class="site-main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
