<footer class="site-footer">
  <div class="container footer-inner">
    <div>
      <strong>{{ site.Params.siteName }}</strong><br>
      Org.nr: {{ site.Params.orgnr }}<br>
      <a href="https://maps.google.com/?q={{ site.Params.address }}" target="_blank">{{ site.Params.address }}</a>
    </div>

    <div>
      <strong>{{ i18n "footer_contact" }}</strong><br>
      {{ i18n "footer_phone" }}: <a href="tel:{{ site.Params.phone }}">{{ site.Params.phone }}</a><br>
      {{ i18n "footer_email" }}: <a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a><br>
      {{ site.Params.openhours }}
    </div>
  </div>
  <div class="container footer-bottom">
    © {{ now.Year }} {{ site.Params.siteName }}
  </div>
</footer>