<section class="privacy-wrap">
  <div class="privacy-grid">
    <div class="privacy-card">
      <h3>{{ .Get "t1" }}</h3>
      <p>{{ .Get "d1" }}</p>
    </div>
    <div class="privacy-card">
      <h3>{{ .Get "t2" }}</h3>
      <p>{{ .Get "d2" }}</p>
    </div>
    <div class="privacy-card">
      <h3>{{ .Get "t3" }}</h3>
      <p>{{ .Get "d3" }}</p>
    </div>
    <div class="privacy-card">
      <h3>{{ .Get "t4" }}</h3>
      <p>{{ .Get "d4" }}</p>
    </div>
    <div class="privacy-card">
      <h3>{{ .Get "t5" }}</h3>
      <p>{{ .Get "d5" }}</p>
    </div>
    <div class="privacy-card">
      <h3>{{ .Get "t6" }}</h3>
      <p>{{ .Get "d6" }}</p>
    </div>
  </div>
</section>
